@import './data.css';

#rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
}

.first-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color1);
    padding-top: 5%;
    gap: 2rem;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.title {
    color: var(--color4);
    font-size: 6.5rem;
    margin: 0;
}

.subtitle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subtitle {
    color: var(--color4);
    font-size: 1.5rem;
    margin: 0;
    font-weight: bold;
}

.nicon {
    align-self: center;
    width: 6.5rem;
    height: 6.5rem;
    filter: brightness(0) saturate(100%) invert(90%) sepia(3%) saturate(1327%) hue-rotate(54deg) brightness(109%) contrast(102%);
}

.contest-content-two {
    grid-area:d;
    display:flex;
    flex-direction:row;
    gap:2rem;
}

.data{
    align-self: center;
    justify-self:start;
    padding-left: 2.5rem;

}

.data .range {
    position: relative;
    background-color: var(--color4);
    width: 30rem;
    height: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;

}

.data .range .fill {
    position: absolute;
    top:0;
    left:0;
    background-color: var(--color6);
    height: 100%;
    border-radius: 0.25rem;
}

.data-days {
    color: var(--color6);
    font-size: 1.8rem;
    padding-left: 3%;
    font-weight: bold;
    padding: 0.75rem;
    justify-self: start;
    text-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
}

.nicon-target {
    align-self: center;
    justify-self: center;
    max-height: 12rem;
    width: auto;
    display: block;


}

.contest-box {
    background: var(--color2);
    width: 95%;
    border-radius: 20px;
    margin-top: 5%;
    display: grid;
    grid-template: 
            'a a c c'1fr
            'b b c c'0.7fr
            'd d c c'1fr /1fr 1fr 0.5fr 0.5fr;

    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 15px;
    transition: background-color .1s;
    cursor: pointer;
    z-index: 0;
    position:relative;
    column-gap:2rem;
}
.contest-box:hover{
    background-color: color-mix(in srgb, var(--color2) 90%, black);
    transform: translateY(4px);
    transition:transform .2s;
}
.contest-month {
    grid-area: a;
    color: var(--color4);
    font-size: 4.3em;
    font-weight: bold;
    padding: 1.5rem;
}

.contest-content {
    grid-area: b;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-items: center;
    
}
.contest-content-title{
    color: color-mix(in srgb, var(--color2-darker) 30%, black);
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 2.5rem;

}

.contest-content-subtitle{
    color: color-mix(in srgb, var(--color2) 30%, black);
    font-size: 1.6rem;
    font-weight: bold;
    padding-left: 2.5rem;

}
.actions-button {
    position:relative;
    align-self: center;
    justify-self: center;
    z-index: 1;
    outline: 0;
    border: 0;
    background: var(--color5);
    color: var(--color4);
    border-radius: 5px;
    padding: 1.8rem;
    cursor: pointer;
    font-size: 1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
    overflow: hidden;
    
}
.actions-button:hover {
    background: var(--color5-darker);
}
.actions-button:active {
    background: var(--color5-darker);
}

.actions-svg {
    top: 0;
    left: 0;
    min-height: 1.8rem;
    min-width: 1.8rem;
}


.other-challenges{
    display: flex;
    flex-direction: column;
    align-content: center;
    background: var(--color2);
    width: 95%;
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 15px;
    margin-bottom: 100px;
}

.other-challenges-title {
    justify-self: start;
    color: var(--color4);
    font-size: 60px;
    font-weight: bold;
    padding: 1.5rem;
}


.challenge-container {
    justify-self: center;
    display: flex;
    flex-direction: row;
}

.carosello {
    width: 100%;
    padding: 20px;
    gap: 20px;
    display: flex;
    overflow-x:auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    align-items: center;
}
.carosello::-webkit-scrollbar {
    display: none; 
}

.active-challenge-box {
    background: var(--color4);
    overflow: hidden;
    border-radius: 20px;
    height: 38rem;
    flex: 0 0 calc(100% / 3 - 1rem);
    min-width: calc(100% / 3 - 1rem);
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: background-color .1s;
    cursor: pointer;
}

.active-challenge-box:hover{
    background-color: color-mix(in srgb, var(--color4) 85%, black);
    transform: translateY(4px);
    transition:transform .2s;
}

.title-active-challenge-box {
    color: var(--color3);
    font-size: 3.5rem;
    margin: 0;
    font-weight: bold;
    padding: 1rem;
}
.subtitle-active-challenge-box {
    color: var(--color5);
    font-size: 2.3rem;
    margin: 0;
    font-weight: bold;
    padding: 0rem 1rem 1rem 1rem;

}

.background-active-challenge-box {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.contest-background-target {
    grid-area: c;
    --s: 50px;
    width: 100%;
  height: 100%;
  --color: color-mix(in srgb, var(--color1) 87%, white);
  background-color: color-mix(in srgb, var(--color1) 87%, black);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: var(--s) var(--s);

    display:grid;
    align-items: center;
    justify-items: center;

}

.contest-background-button {
    grid-area: c;
    --s: 50px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
  --color: color-mix(in srgb, var(--color1) 87%, white);
  background-color: color-mix(in srgb, var(--color1) 87%, black);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: var(--s) var(--s);

    display:grid;
    align-items: center;
    justify-items: center;

}

.scroll-button {
    position: absolute;
    border-radius: 20px;
    padding: 0.5rem;
    cursor: pointer;
    align-self: center;
    z-index: 1;
    border: 4px black;
    height: 9rem;
    width: 9rem;
    filter:invert();
}
.left {
    left: 3%;
}
.right {
    right: 3%;
}
.scroll-button:active{
    transform: scale(0.95);
}



@media (min-width: 750px) and (max-width: 1200px) {

    .active-challenge-box {
        flex: 0 0 calc(100% / 2 - 1rem);
        min-width: calc(100% / 2 - 1rem);
    }
    

}

@media (max-width:750px){
    .contest-month {
        font-size: 4.3em;
        text-align: center;
    }

    .contest-box {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
    .contest-content {
        align-items: center;
        padding: 1.5rem;
    
    }
    .contest-content-two {
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
    }

    .contest-content-title {
        text-align: center;
        text-justify: center;
        padding-left: 0rem;
    }

    .contest-content-subtitle {
        text-align: center;
        text-justify: center;
        padding-left: 0rem;
        
    }
    .data{
        justify-items: center;
        padding-left: 0rem;

    }
    .data .range {
        width: 20rem;
    }

    .data-days {
        text-align: center;
        text-justify: center;
        justify-self: center;
    }

    .create-button {
        width: 30rem;
        font-size: 2rem;
        justify-content: center;
        padding: 1.5rem;
    }

    .nicon-target {
        max-height: 15rem;
    }
    .challenge-container {
        max-height: calc(2 * 38rem);
    }
    .carosello {
        flex-direction: column;
        overflow-y:auto;
    }
    .scroll-button {
        display: none;
    }
    .active-challenge-box {
        min-height: 30rem;
        width: 80%;
    }
    .title-active-challenge-box {
        text-align: center;
        text-justify: center;
        font-size: 2.5rem;
        padding:0.5rem;
    }
    .subtitle-active-challenge-box {
        text-align: center;
        text-justify: center;
        font-size: 1.8rem;

    }


}
@media (max-width:500px){

    .title-container {
        flex-direction: column;
    }

    .contest-content-two {
        flex-direction: column;
    }
}