@import './data.css';

#rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
}
.contest-box {
    margin-top: 3%;
    background: var(--color2);
    width: 95%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 15px;
    overflow: hidden;
    margin-bottom: 100px;
    
}

.contest-info-box {
    width: 100%;
    display: grid;
    grid-template: 
            'a a a a a'1fr
            '. b b c c'1fr
            '. d d c c'0.75fr
            '. f . c c'0.75fr/0.1fr 1fr 1fr 0.75fr 0.75fr;
    column-gap:20px;
}

.contest-title {
    grid-area: a;
    color: var(--color4);
    font-size: 80px;
    font-weight: bold;
    padding: 1.5rem;
    background-color: color-mix(in srgb, var(--color2) 75%, black);
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
    z-index: 1;

}

.contest-content {
    grid-area: b;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-items: center;
    gap:10px;
}

.contest-content-title{
    color: color-mix(in srgb, var(--color2-darker) 30%, black);
    font-size: 30px;
    font-weight: bold;

}

.contest-content-subtitle{
    color: color-mix(in srgb, var(--color2) 30%, black);
    font-size: 20px;
    font-weight: bold;

}


.contest-background-target {

    grid-area: c;
    --s: 50px;
    width: 100%;
  height: 100%;
  --color: color-mix(in srgb, var(--color1) 87%, white);
  background-color: color-mix(in srgb, var(--color1) 87%, black);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: var(--s) var(--s);

    display:grid;
    align-items: center;
    justify-items: center;

}

.nicon-target {
    max-height: 300px;
    width: auto;
    display: block;
}

.data{
    grid-area:d;
    align-self: center;
    justify-items: start;
    object-fit: contain;

}

.data .range {
    position: relative;
    background-color: var(--color4);
    width: 90%;
    height: 1rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
}

.data .range .fill {

    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color6);
    width: 76%;
    height: 100%;
    border-radius: 0.25rem;
}
.data-days {
    color: var(--color6);
    font-size: 25px;
    padding-left: 3%;
    font-weight: bold;
    padding: 0.75rem;
    justify-self: start;
    text-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
}

.create-button {
    grid-area: f;
    align-self: center;
    justify-self: start;
    outline: 0;
    border: 0;
    background: var(--color5);
    color: var(--color4);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
}
.create-button:hover {
    background: var(--color5-darker);
}
.create-button:active {
    background: var(--color5-darker);
}

.create-svg {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    

}
/*
.data-views-checkmark {
    grid-area: g;
    align-self: center;
    justify-self: center;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    transition: 100ms;
    stroke: var(--color4);
}
*/


.nicon-trophy {
    grid-area: e;
    align-self: center;
    justify-self: center;
    width: 200px;
    height: 200px;
    filter: saturate(100%) invert(90%) sepia(3%) saturate(1327%) hue-rotate(54deg) brightness(109%) contrast(102%);
    padding: 0.5rem;
}

.search-output-div {
    width: 100%;
    height: 100%;
    background: color-mix(in srgb, var(--color2) 75%, black);
    border-radius: 0px 0px 20px 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.search-output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.search-output .output-snip {
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color2-brighter);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    width: 100%;
    min-width: 0;
    min-height: 0;
}

.search-output .output-preview {
    background: var(--color4);
    border-radius: 10px;
    width: 100%;
    height: 90%;
    border: 0;
}

.search-output .info {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
    font-size: 20px;
    overflow: hidden;
}

.info-views {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.info-subtext {
    font-size: 20px;
    font-style: italic;
    color: var(--color4-placeholder);
}

.info-creator {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.info-pfp {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--color4);
}

.like-svg {
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background:none; 
    border:none;
    cursor:pointer;
}
.like-svg:hover svg path {
    stroke:var(--color6-placeholder);
}
.like-svg:active svg path {
    stroke:var(--color6);
    fill:var(--color6);
}

.output-snip-opener {
    position: absolute;
    right: 20px;
    bottom: 70px;
    cursor: pointer;
    font-size: 20px;
    color: var(--color2);
    padding: 10px;
    border-radius: 5px;
}

.output-snip-opener:hover {
    background: rgba(0, 0, 0, 0.1);
}

.output-snip-opener:active {
    background: rgba(0, 0, 0, 0.2);
}

@media (max-width:910px){
    .contest-info-box {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .contest-title {
    color: var(--color4);
    font-size: 50px;
    font-weight: bold;
    padding: 1.5rem;
    background-color: color-mix(in srgb, var(--color2) 75%, black);
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
    z-index: 1;
    }
    .contest-content {
    align-items: center;
    justify-items: center;
    padding: 10px;
    }
    .contest-content-title {
        font-size: 30px;
        text-align: center;
        text-justify: center;
    }

    .contest-content-subtitle {
        font-size: 20px;
        text-align: center;
        text-justify: center;
        
    }
    .data{
    justify-items: center;

    }
    .data .range {
        width: 100%;
        height: 1rem;
        border-radius: 0.25rem;
        box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
    }

    .data-days {
        font-size: 20px;
        text-align: center;
    }

    .create-button {
        width: 70%;
        font-size: 20px;
        justify-content: center;
        padding: 15px;
    }

    .nicon-target {
        max-height: 200px;
    }

    .search-output {
        grid-template-columns: 1fr; /* una colonna su mobile */
    }

    .search-output .output-snip {
        height: auto;
    }

    .search-output .output-preview {
        height: 300px;
    }
}
@media (min-width: 910px) and (max-width: 1200px) {

    .search-output {
        grid-template-columns: repeat(2, 1fr); /* due colonne su tablet */
        align-items: center;
    }

}


