@import './data.css';

#rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    justify-content: center;
}

.snippet-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
    flex-direction: column;
    gap: 20px;
    background: var(--color2);
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
}

.variation-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.variation-text {
    font-size: 20px;
    color: var(--color4);
    font-style: none;
}

.variation-subtext {
    font-size: 20px;
    color: var(--color4-placeholder);
    font-style: italic;
}

.variation-user {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.variation-pfp {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--color4);
}

.variation-remove {
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: transparent;
}

.variation-remove-checkmark {
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    transition: 100ms;
    animation: like_effect 400ms ease;
}

.variation-remove-checkmark path {
    stroke: rgb(255, 100, 100);
}

.variation-remove-checkmark:hover {
    transform: scale(1.1);
}

.variation-remove-checkmark:active {
    transform: scale(1.2);
}

.edit-cancel {
    color: var(--color5);
    font-style: italic;
    font-size: 20px;
}

.snippet-container {
    display: flex;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 15px;
    overflow: hidden;
    position: relative;
    height: 60vh;
}

.output-container {
    width: 50%;
    height: 100%;
    background-color: var(--color4);
    outline: 0;
    border: 0;
}

.code-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.code-buttons {
    background-color: var(--color2-brighter);
    height: 10%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.lang-buttons-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.lang-buttons-container .lang-button {
    background-color: var(--color3-brighter);
    width: 100%;
    outline: 0;
    border: 0;
    color: var(--color4);
    font-size: 16px;
    transition: .1s;
    cursor: pointer;
}

.lang-buttons-container .lang-button:hover {
    background-color: var(--color3-bright);
}

.lang-buttons-container .lang-button.active {
    background-color: var(--color3);
}

.code-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;
    position: relative;
}

.code-div .copy-button {
    position: absolute;
    right: 20px;
    top: 14px;
    background-color: var(--color3-brighter);
    outline: 0;
    border: 2px var(--color3-brighter);
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: var(--color4);
    padding: 1%;
}

.code-div .copy-button:hover {
    background-color: var(--color3-bright);
}

.code-div .copy-button:active {
    background-color: var(--color3-darker);
}

.code-div .copy-icon {
    align-self: center;
    width: 16px;
    height: 16px;
    pointer-events: none;
    filter: brightness(0) invert(1);
    opacity: 0.6;
    user-select: none;
}

.code-div .copy-button span {
    padding-left: 10px;
}

.line-numbers {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color3-darker);
    width: 5%;
    color: var(--color4);
    text-align: right;
    user-select: none;
    padding-right: 10px;
    overflow: hidden;
}

.line-numbers div {
    font-size: 14px;
}

.input-area {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: var(--color3);
    border: 0;
    resize: none;
    width: 100%;
    height: 100%;
    font-family: monospace !important;
    font-size: 14px;
    outline: none;
    overflow: scroll;
    color: var(--color4);
}

.input-area::placeholder {
    color: var(--color4-placeholder);
}

.input-area::-webkit-scrollbar {
    background: var(--color1);
    width: 10px;
    height: 10px;
}

.input-area::-webkit-scrollbar-thumb {
    background: var(--color2-brighter);
    border-radius: 50px;
}

.input-area::-webkit-scrollbar-thumb:hover {
    background: var(--color2-bright);
}

.input-area::-webkit-scrollbar-thumb:active {
    background: var(--color2-brighter);
}

.input-area::-webkit-scrollbar-corner {
    background: transparent;
}

.snippet-action-bar {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--color2-brighter);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-action-buttons,
.right-action-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;

}

.snippet-action-bar .left-action-buttons {
    justify-content: flex-start;
}

.snippet-action-bar .right-action-buttons {
    justify-content: flex-end;
}

.action-form {
    height: 100%;
}

.action-button {
    outline: 0;
    border: 0;
    background: var(--color2);
    color: var(--color4);
    border-radius: 5px;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.action-button:hover {
    background: var(--color2-bright);
}

.action-button:active {
    background: var(--color4-brighter);
}

#action-important {
    color: var(--color5);
}

#action-important path {
    stroke: var(--color5);
}

.action-svg {
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    transition: 100ms;
    animation: like_effect 400ms ease;
}

.action-button:hover .action-svg {
    transform: scale(1.2);
}

.action-svg path {
    stroke: var(--color4);
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    gap: 20px;
}

.description-title {
    color: var(--color4);
    font-size: 50px;
    text-align: center;
}

.description-area {
    padding: 10px;
    background-color: var(--color1);
    border-radius: 10px;
    resize: none;
    width: 50%;
    min-height: 15vh;
    font-family: monospace !important;
    font-size: 14px;
    overflow: auto;
    color: var(--color4);
    outline: none;
    border: none;
}

.description-area::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.description-area::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.description-area::-webkit-scrollbar-corner {
    background: transparent;
}

.description-area::placeholder {
    color: var(--color4-placeholder);
}

.tags-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-radius: 10px;
    gap: 40px;
}

.tags-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tags-title {
    color: var(--color4);
    font-size: 50px;
    text-align: center;
}

.tags-subtitle {
    color: var(--color4);
    font-size: 20px;
    text-align: center;
}

.tags-input-container {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.tags-input {
    outline: 0;
    border: 2px solid var(--color4);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 4vh;
    width: 10vw;
    background: transparent;
    padding-left: 10px;
    color: var(--color4);
    font-size: 16px;
}

.tags-input::placeholder {
    color: var(--color4-placeholder);
}

.tags-add {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 4vh;
    cursor: pointer;
    padding: 0 20px;
    font-size: 16px;
}

#tags-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: var(--color2);
    border-radius: 10px;
    max-width: 50%;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.tags-tag {
    background-color: var(--color4);
    color: var(--color2);
    padding: 2px 12px;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.type-dropdown-div {
    height: 100%;
    z-index: 1;
}

.type-dropdown-container {
    display: none;
    position: absolute;
    padding-top: 10px;
}

.type-dropdown-content {
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    border-radius: 5px;
    gap: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    border: 2px solid var(--color1-bright);
}

.type-dropdown-button {
    outline: 0;
    border: 0;
    background: var(--color1-bright);
    color: var(--color4);
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.type-dropdown-button:hover {
    background: var(--color1-brighter);
}

.center-div.post-center-div {
    width: 40%;
}

.post-page {
    backdrop-filter: blur(10px);
    box-shadow: #00000059 15px;
    border-radius: 10px;
    border: 2px solid var(--color4);
    background: var(--color2);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 80vh;
    overflow-y: scroll;
    animation: appear .5s ease;
}

.post-page::-webkit-scrollbar {
    width: 6px;
}

.post-page::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.post-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-title {
    color: var(--color4);
    font-size: 50px;
    text-align: center;
}

.post-subtitle {
    color: var(--color4);
    font-size: 20px;
    text-align: center;
}

#post-preview {
    margin: 10px;
    height: 200px;
    width: 80%;
    background: var(--color4);
    border-radius: 10px;
    outline: 0;
    border: 0;
}

.post-info {
    background: var(--color2-brighter);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 100%;
}

.post-info-title {
    color: var(--color4);
    font-size: 20px;
}

.post-info-subtitle {
    color: var(--color4);
    font-size: 12px;
}

.post-variation-container {
    display: flex;
    flex-direction: row;
    background: var(--color2);
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.post-variation-text {
    font-size: 16px;
    color: var(--color4);
    font-style: none;
}

.post-variation-subtext {
    font-size: 16px;
    color: var(--color4-placeholder);
    font-style: italic;
}

.post-variation-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.post-variation-pfp {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--color4);
}

.post-name-container {
    display: flex;
    flex-direction: column;
    background: var(--color2);
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

.post-name-title-container {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.post-name-input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-right: 10px;
}

.post-name-input {
    outline: 0;
    border: 2px solid var(--color4);
    border-radius: 30px;
    background: transparent;
    padding: 5px 10px;
    color: var(--color4);
    font-size: 16px;
    flex: 1;
}

.post-name-input::placeholder {
    color: var(--color4-placeholder);
}

.post-name-icon {
    width: 16px;
    height: 16px;
    margin-left: 7px;
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
}

#post-type {
    color: var(--color4);
    font-size: 20px;
    background: var(--color2);
    border-radius: 10px;
    padding: 10px;
}

.post-description-container {
    display: flex;
    flex-direction: column;
    background: var(--color2);
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}


#post-description-content {
    padding: 10px;
    background-color: var(--color1);
    border-radius: 10px;
    font-family: monospace !important;
    font-size: 14px;
    overflow: auto;
    color: var(--color4);
    word-break: break-word;
    max-height: 100px;
}

#post-description-content::-webkit-scrollbar {
    width: 6px;
}

#post-description-content::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.post-tags-container {
    display: flex;
    flex-direction: column;
    background: var(--color2);
    border-radius: 10px;
    gap: 10px;
    padding: 10px;
}

#post-tags-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: var(--color1);
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.post-tags-tag {
    background-color: var(--color2);
    color: var(--color4);
    padding: 2px 12px;
    border-radius: 20px;
    font-size: 16px;
}

.post-actions {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.post-action-button {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-radius: 100px;
    flex: 1;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

/*---------------STUFF FOR THE NAME CHECK IN THE POST----------------*/
.post-name-check-checkmark {
    top: 0;
    left: 0;
    height: 32px;
    width: 32px;
    transition: 100ms;
    animation: like_effect 400ms ease;
    display: none;
    color: #000;
}

#post-name-check-success {
    stroke: rgb(100, 255, 100);
}

#post-name-check-failure {
    stroke: rgb(255, 100, 100);
}

@keyframes like_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/*----------------------------------------------------------*/

.post-server-error-container {
    display: none;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    margin: 20px 0;
    padding: 12px 15px;
    color: var(--color5);
    text-overflow: ellipsis;
}

.center-div.load-center-div {
    width: 40%;
}

.load-page {
    backdrop-filter: blur(10px);
    box-shadow: #00000059 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .5);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
    animation: appear .5s ease;
}

.load-page::-webkit-scrollbar {
    width: 6px;
}

.load-page::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.load-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load-title {
    color: var(--color4);
    font-size: 50px;
    text-align: center;
}

.load-subtitle {
    color: var(--color4);
    font-size: 20px;
    text-align: center;
}

.load-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin: 10% 0;
}

.load-action-button {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-radius: 100px;
    flex: 1;
    font-size: 20px;
    padding: 10px;
    width: 80%;
    cursor: pointer;
}

.load-action-separator {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.load-action-hr {
    border-radius: 100px;
    width: 30%;
    height: 0px;
    border: 1px solid var(color4);
}

.load-action-or {
    font-size: 16px;
    color: var(--color4-placeholder);
}

.center-div.drafts-center-div {
    width: 40%;
}

.drafts-page {
    backdrop-filter: blur(10px);
    box-shadow: #00000059 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .5);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: 80vh;
    overflow-y: scroll;
    animation: appear .5s ease;
}

.drafts-page::-webkit-scrollbar {
    width: 6px;
}

.drafts-page::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.drafts-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drafts-title {
    color: var(--color4);
    font-size: 50px;
    text-align: center;
}


.drafts-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
    margin: 5% 0;
}

.drafts-action-button {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-radius: 100px;
    flex: 1;
    font-size: 20px;
    padding: 10px;
    width: 80%;
    cursor: pointer;
}



.drafts-search-output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    padding: 10px
}

.drafts-search-output .drafts-output-snip {
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color2-brighter);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-width: 0;
    min-height: 0;
    animation: slide-in 0.5s;
    gap: 5px;
}

@keyframes slide-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.drafts-search-output .drafts-output-preview {
    background: var(--color4);
    border-radius: 10px;
    width: 100%;
    border: 0;
}

.drafts-output-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    gap: 5px;
}

.drafts-output-snip-opener {
    cursor: pointer;
    font-size: 16px;
    color: var(--color4);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color2);
}

.drafts-output-snip-opener:hover {
    background: var(--color2-bright);
}

.drafts-output-snip-opener:active {
    background: var(--color2-brighter);
}

.drafts-output-delete {
    outline: 0;
    border: 0;
    background: var(--color2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0 10px;
    height: 100%;
}
.drafts-output-delete:hover {
    background: var(--color2-bright);
}
.drafts-output-delete:active {
    background: var(--color2-brighter);
}

.drafts-output-delete-svg {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    padding: 2px;
    transition: 100ms;
    animation: like_effect 400ms ease;
    margin-left: 2px;
}
.drafts-output-delete-svg path {
    stroke: var(--color4);
}

.drafts-error {
    color: var(--color4);
    font-size: 16px;
}