@import './data.css';

#rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
}

.title-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10px;
}

.title {
    color: var(--color4);
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    color: var(--color4);
    font-size: 1.2rem;
    text-align: center;
}

.search-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 0;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 6.5rem;
    position: relative;
    align-items: center;
}

.search-bar .search-input {
    width: 100%;
    height: 4.3rem;
    border-radius: 50px;
    border: 2px solid var(--color4);
    outline: 0 !important;
    box-sizing: border-box;
    padding: 0.8rem 0.9rem;
    background-color: transparent;
    text-decoration-color: var(--color4);
    color: var(--color4);
    font-size: 1.5rem;
    padding-left: 1.9rem;
    padding-right: 6.5rem;
    background: var(--color2);
}

.search-bar .search-input::placeholder {
    color: var(--color4-placeholder);
}

.search-bar .search-icon {
    position: absolute;
    right: 1.9rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    filter: brightness(0) invert(1);
    user-select: none;
}

.search-output-div {
    width: 90%;
    background: var(--color2);
    border-radius: 11px;
    padding: 0 1.2rem;
    margin-bottom: 6.5rem;
    display: flex;
    flex-direction: column;
}

.no-snippets-text {
    color: var(--color4);
    font-size: 1.9rem;
    padding-bottom: 1.2rem;
}

.search-results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 1.2rem 0;
    overflow: hidden;
    font-size: 1.9rem;
}

@media (max-width: 425px) {
    .search-results {
        font-size: 1.5rem;
    }

    .search-results-left,
    .search-results-right {
        gap: 0.3rem !important;
    }
}

.search-results-left,
.search-results-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.search-results-left {
    justify-content: flex-start;
}

.search-results-right {
    justify-content: flex-end;
}

.search-results-text {
    color: var(--color4);
}

.search-results-subtext {
    color: var(--color4-placeholder);
}

.search-output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    padding-bottom: 1.2rem;
}

@media (max-width: 768px) {
    .search-output {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 425px) {
    .search-output {
        grid-template-columns: repeat(1, 1fr);
    }
}

.search-output .output-snip {
    height: 25rem;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: var(--color2-brighter);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: relative;
    width: 100%;
    min-width: 0;
    min-height: 0;
    animation: slide-in 0.5s;
}

@keyframes slide-in {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.search-output .output-preview {
    background: var(--color4);
    border-radius: 10px;
    width: 100%;
    height: 90%;
    border: 0;
}

.search-output .info {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
    font-size: 1.2rem;
    overflow: hidden;
}

.info-right {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
}

.info-views {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.data-views-checkmark {
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    stroke: var(--color4-placeholder);
    will-change: transform;
}

.info-likes {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.info-likes-checkmark {
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    stroke: var(--color4-placeholder);
    will-change: transform;
}

.info-likes-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.info-likes-div {
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 100ms;
}

.info-likes-div input:checked~.info-likes-checkmark path {
    fill: var(--color5);
    stroke-width: 0;
}

.info-likes-div input:checked ~ .info-likes-checkmark {
    animation: like_effect 400ms ease;
}

@keyframes like_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.info-text {
    font-size: 1.2rem;
    color: var(--color4);
}

.info-creator {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 10px;
}

.info-creator:hover {
    background: rgb(0, 0, 0, 0.1);
}

.info-pfp {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5px;
    background: var(--color4);
}

.output-snip-opener {
    position: absolute;
    right: 1.2rem;
    bottom: 4.2rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--color2);
    padding: 0.6rem;
    border-radius: 5px;
}

.output-snip-opener:hover {
    background: rgba(0, 0, 0, 0.1);
}

.output-snip-opener:active {
    background: rgba(0, 0, 0, 0.2);
}

.page-buttons {
    width: 100%;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page-buttons-left {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.page-buttons-right {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.page-button {
    outline: 0;
    border: 0;
    background: var(--color2-brighter);
    padding: 1.2rem 6.5rem;
    color: var(--color4);
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
}

.page-button:hover {
    background: var(--color2-bright);
}

.center-div.info-dialog-center-div {
    width: 40%;
}

.info-dialog-page {
    backdrop-filter: blur(10px);
    box-shadow: #00000059 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .5);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    max-height: 80vh;
    overflow-y: scroll;
    animation: appear .5s ease;
}

.info-dialog-page::-webkit-scrollbar {
    width: 6px;
}

.info-dialog-page::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.info-dialog-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.info-dialog-title {
    color: var(--color4-placeholder);
    font-size: 1.2rem;
    text-align: center;
}

.info-dialog-text {
    color: var(--color4);
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
    word-break: break-word;
}

.info-dialog-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
}

.info-dialog-action-button {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-radius: 100px;
    flex: 1;
    font-size: 1.2rem;
    padding: 0.6rem;
    width: 80%;
    cursor: pointer;
}