@import './creator.css';

#rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
}

.title-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 10px;
}

.title {
    color: var(--color4);
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}

.subtitle {
    color: var(--color4);
    font-size: 20px;
    text-align: center;
}

.search-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.search-bar {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100px;
    position: relative;
    align-items: center;
}
.search-bar .search-input {
    width: 100%;
    height: 70px;
    border-radius: 50px;
    border: 2px solid var(--color4);
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
    background-color: transparent;
    text-decoration-color: var(--color4);
    color: var(--color4);
    font-size: 24px;
    padding-left: 40px;
    padding-right: 100px;
}
.search-bar .search-input::placeholder {
    color: var(--color4-placeholder);
}
.search-bar .search-icon {
    position: absolute;
    right: 40px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: brightness(0) invert(1);
    user-select: none;
}

.search-output-div {
    width: 90%;
    background: var(--color2);
    border-radius: 11px;
    padding: 0 20px;
    margin-top: 10%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.search-results {
    color: var(--color4);
    font-size: 30px;
}

.search-output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.search-output .output-snip {
    height: 400px;
}

.search-output .output-preview {
    background: var(--color4);
    border-radius: 10px;
    width: 100%;
    height: 90%;
    border: 0;
}

.search-output .info {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    color: var(--color4);
    font-size: 20px;
}