@import './data.css';

* {
    font-family: "Noveo Sans";
}

#rest {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    position: relative;
    /*this is so that the canvas can be absolute*/
    padding-top: 5%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--color4);
    font-size: 6.25rem;
    margin: 0;
    font-weight: bold;
    background: linear-gradient(to right, var(--color2), var(--color4));
    background-clip: text;
    color: transparent;
}

.subtitle {
    color: var(--color4);
    font-size: 1.9rem;
    margin: 0;
}

.scroll-arrow {
    width: 5em;
    height: 5em;
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
    align-self: center;
    rotate: 180deg;
    margin: 10%;
    animation: scroll-arrow 3s ease infinite;
}

@keyframes scroll-arrow {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

#first-container-canvas {
    position: absolute;
    left: 0;
    bottom: -40%;
    /*make it stick out of the parent*/
    height: 40%;
    width: 100%;
}

.second-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color2);
    gap: 5vh;
    padding-top: 15%;
    padding-bottom: 10%;
}

.snippet {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    animation: none;
    height: 60vh;
}

.snippet:has(.snippet-title:hover) {
    animation: select-creator 1s ease;
}

@keyframes select-creator {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    75% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.preview-box {
    background: var(--color4);
    width: 60%;
    height: 100%;
    outline: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snippet-title {
    color: var(--color2);
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.snippet-title:hover {
    font-size: 2.5rem;
}

.code-box {
    background: var(--color1);
    height: 100%;
    width: 40%;
}

.third-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color5);
    gap: 100px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.secondary-title {
    color: var(--color4);
    font-size: 4.3rem;
    margin: 0;
    font-weight: bold;
}

.secondary-subtitle {
    color: var(--color4);
    font-size: 1.9rem;
    margin: 0;
}

.slideshow-container {
    width: 80%;
    background: var(--color1);
    border-radius: 20px;
    border: 5px solid var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    gap: 10px;
}

.slideshow {
    width: 100%;
    height: 100%;
    background: var(--color1-bright);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.slideshow-object-left, .slideshow-object-right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    animation-play-state: running;
}

.slideshow-object-left {
    animation: move-left 30s linear infinite;
}
.slideshow-object-right {
    animation: move-right 30s linear infinite;

}

.slideshow:hover .slideshow-object-left, .slideshow:hover .slideshow-object-right {
    animation-play-state: paused;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes move-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slideshow-item {
    display: flex;
    align-items: center;
    height: 100%;
    background: var(--color1-brighter);;
    border-radius: 5px;
    color: var(--color4);
    margin: 0;
    outline: 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: .1s;
    font-size: 1.2rem;
}

.slideshow-item:hover {
    transform: scale(1.1);
    background: var(--color4);
    color: var(--color1);
}

.fourth-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color1);
    gap: 100px;
    overflow: hidden;
    padding-top: 10%;
    padding-bottom: 10%;
}

.activec {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.activec-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.activec-box-title {
    color: var(--color4);
    font-size: 2.5rem;
    margin: 0;
}

.activec-box {
    width: 70%;
    height: 80%;
    background: var(--color2);
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
}

.activec-box:hover{
    background-color: color-mix(in srgb, var(--color2) 90%, black);
    transform: translateY(4px);
    transition:transform .2s;
}

.contest-month {
    color: var(--color4);
    font-size: 2.2rem;
    font-weight: bold;
    padding: 1rem;
}

.contest-content {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-items: center;
    gap:20px;
    
}

.actions-button {
    grid-area: f;
    position:relative;
    align-self: center;
    justify-self: center;
    z-index: 1;
    outline: 0;
    border: 0;
    background: var(--color5);
    color: var(--color4);
    border-radius: 5px;
    padding: 20px;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
    
}
.actions-button:hover {
    background: var(--color5-darker);
}
.actions-button:active {
    background: var(--color5-darker);
}

.actions-svg {
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
}


.data{
    align-self: center;
    justify-self:start;

}

.data .range {
    position: relative;
    background-color: var(--color4);
    width: 100%;
    height: 0.75rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;

}

.data .range .fill {
    position: absolute;
    top:0;
    left:0;
    background-color: var(--color6);
    height: 100%;
    border-radius: 0.25rem;
}

.data-days {
    color: var(--color6);
    font-size: 1.2rem;
    padding-left: 3%;
    font-weight: bold;
    padding: 0.75rem;
    justify-self: start;
    text-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
}

.nicon-target {
    align-self: center;
    justify-self: center;
    width: 60%;
    height: 70%;
}

.contest-background-target {
    grid-area: c;
    --s: 3.1rem;
    width: 100%;
  height: 100%;
  --color: color-mix(in srgb, var(--color1) 87%, white);
  background-color: color-mix(in srgb, var(--color1) 87%, black);
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: var(--s) var(--s);

    display:grid;
    align-items: center;
    justify-items: center;

}

.activec-arrow {
    width: 3.1rem;
    height: 3.1rem;
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
    align-self: center;
    rotate: 90deg;
}



.activec-snips-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
    width: 70%;
    height: 80%;
    background: var(--color2);
    cursor: pointer;
    border-radius: 20px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.394) 0px 5px 15px;
}


.slidesnip {
    width: 100%;
    height: 100%;
    background: var(--color2);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.slidesnip-object-left {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    animation-play-state: running;
}

.slidesnip-object-left {
    animation: move-left 30s linear infinite;
}

.slidesnip:hover .slideshow-object-left{
    animation-play-state: paused;
}

.search-output {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.search-output .output-snip {
    height: 350px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color1-brighter);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.search-output .output-preview {
    background: var(--color4);
    border-radius: 10px;
    width: 100%;
    height: 90%;
    border: 0;
}

.search-output .info {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
    font-size: 1.2rem;
    overflow: hidden;
}

.info-views {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.info-subtext {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color4-placeholder);
}

.info-creator {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.info-pfp {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--color4);
}

.snip-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 100%; 
    gap: 10px;
}

.info-like {
    font-size: 1.9rem;
    color: var(--color4);
}

.output-snip-opener {
    position: absolute;
    right: 20px;
    bottom: 70px;
    cursor: pointer;
    font-size: 1.9rem;
    color: var(--color2);
    padding: 10px;
    border-radius: 5px;
}

.output-snip-opener:hover {
    background: rgba(0, 0, 0, 0.1);
}

.output-snip-opener:active {
    background: rgba(0, 0, 0, 0.2);
}