@import './data.css';

* {
    font-family: "Noveo Sans";
}

#rest {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.first-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color1);
    position: relative;
    /*this is so that the canvas can be absolute*/
    padding-top: 5%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--color4);
    font-size: 100px;
    margin: 0;
    font-weight: bold;
    background: linear-gradient(to right, var(--color2), var(--color4));
    background-clip: text;
    color: transparent;
}

.subtitle {
    color: var(--color4);
    font-size: 30px;
    margin: 0;
}

.scroll-arrow {
    width: 5em;
    height: 5em;
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
    align-self: center;
    rotate: 180deg;
    margin: 10%;
    animation: scroll-arrow 3s ease infinite;
}

@keyframes scroll-arrow {
    0% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);
    }
}

#first-container-canvas {
    position: absolute;
    left: 0;
    bottom: -40%;
    /*make it stick out of the parent*/
    height: 40%;
    width: 100%;
}

.second-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color2);
    gap: 5vh;
    padding-top: 15%;
    padding-bottom: 10%;
}

.snippet {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
    animation: none;
    height: 60vh;
}

.snippet:has(.snippet-title:hover) {
    animation: select-creator 1s ease;
}

@keyframes select-creator {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(-1deg);
    }

    75% {
        transform: rotate(1deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.preview-box {
    background: var(--color4);
    width: 60%;
    height: 100%;
    outline: 0;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.snippet-title {
    color: var(--color2);
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.snippet-title:hover {
    font-size: 40px;
}

.code-box {
    background: var(--color1);
    height: 100%;
    width: 40%;
}

.third-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color5);
    gap: 100px;
    padding-top: 10%;
    padding-bottom: 10%;
}

.secondary-title {
    color: var(--color4);
    font-size: 70px;
    margin: 0;
    font-weight: bold;
}

.secondary-subtitle {
    color: var(--color4);
    font-size: 30px;
    margin: 0;
}

.slideshow-container {
    width: 80%;
    background: var(--color1);
    border-radius: 20px;
    border: 5px solid var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
    padding: 10px 0;
    gap: 10px;
}

.slideshow {
    width: 100%;
    height: 100%;
    background: var(--color1-bright);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.slideshow-object-left, .slideshow-object-right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 0 5px;
    animation-play-state: running;
}

.slideshow-object-left {
    animation: move-left 30s linear infinite;
}
.slideshow-object-right {
    animation: move-right 30s linear infinite;

}

.slideshow:hover .slideshow-object-left, .slideshow:hover .slideshow-object-right {
    animation-play-state: paused;
}

@keyframes move-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
@keyframes move-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slideshow-item {
    display: flex;
    align-items: center;
    height: 100%;
    background: var(--color1-brighter);;
    border-radius: 5px;
    color: var(--color4);
    margin: 0;
    outline: 0;
    padding: 10px 20px;
    cursor: pointer;
}

.fourth-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color1);
    gap: 100px;
    overflow: hidden;
    padding-top: 10%;
    padding-bottom: 10%;
}

.activec {
    height: 75vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.activec-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.activec-box-title {
    color: var(--color4);
    font-size: 40px;
    margin: 0;
}

.activec-box {
    width: 70%;
    height: 80%;
    background: var(--color4);
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.activec-arrow {
    width: 50px;
    height: 50px;
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
    align-self: center;
    rotate: 90deg;
}