@import './data.css';

#rest {
    min-height: calc(100vh - 90px);
    transition: .3s;
}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    background: var(--color1);
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: visible;
}

.navbar .left-navbar,
.navbar .right-navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.6rem;
    gap: 1.2rem;
    margin: 0 1.2rem;
    min-width: 0;
}

@media (max-width: 768px) {

    .navbar .left-navbar,
    .navbar .right-navbar {
        padding: 0.2rem;
        gap: 0.2rem;
    }
}
@media (max-width: 425px) {
    .nbutton .nicon,
    .login-icon {
        display: none;
    }
}

.left-navbar .navbar-title {
    font-size: 1.9rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin: 0;
    overflow: hidden;
    padding: 0 1vw;
    background: linear-gradient(to right, var(--color2), var(--color4));
    background-clip: text;
    color: transparent;
}

.nbutton {
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: transparent;
    color: var(--color4);
    height: 60%;
    text-align: center;
    cursor: pointer;
    transition: background-color .1s;
    gap: 0.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0 1vw;
}

.nbutton .nicon,
.login-icon {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
}

.nbutton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.nbutton:hover:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.nbutton span {
    font-size: 1.2rem;
}

@media (max-width: 375px) {
    .nbutton span {
        font-size: 1rem;
    }
}


.dropdown-content {
    position: absolute;
    background-color: var(--color1-bright);
    right: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
    overflow: hidden;
    top: 100%;
    width: 100%;
    opacity: 0;
    transition: .1s;
    max-height: 0;
}

.dropdown-content a {
    color: var(--color4);
    padding: 0.6rem;
    text-decoration: none;
    display: block;
    font-size: 1rem;
}

.dropdown-content a:hover {
    background-color: var(--color1-brighter);
}

#dropdown-nbutton {
    position: relative;
    overflow: visible;
    padding: 0 3vw;
    margin-right: 0.6rem;
}

#dropdown-nbutton:hover {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#dropdown-nbutton:hover .dropdown-content {
    max-height: fit-content;
    opacity: 1;
}