@import './test.css';

#rest {
    height: calc(100% - 90px);
}

.navbar {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 90px;
    background: var(--color1);
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.navbar .left-navbar {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: flex-start;
}

.left-navbar .navbar-title {
    color: var(--color4);
    font-size: 30px;
    text-align: center;
    margin-left: 20px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

.nbutton-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    gap: 20px;
}

.nbutton-div .nbutton {
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: transparent;
    color: var(--color4);
    height: 60%;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color .1s;
    padding-left: 30px;
    padding-right: 30px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nbutton .nicon, .login-icon {
    width: 16px;
    height: 16px;
    margin-left: 7px;
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
}
.nbutton-div .nbutton:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.nbutton-div .nbutton:hover:active {
    background-color: rgba(255, 255, 255, 0.2);
}

.nbutton span {
    font-size: 20px;
}

.navbar .right-navbar {
    height: 100%;
    width: 50%;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}