@import './data.css';

#rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    justify-content: center;
}

.snippet-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
    flex-direction: column;
    gap: 1.2rem;
    background: var(--color2);
    padding: 1.2rem;
    border-radius: 0.6rem;
    margin: 3.1rem;
}

.variation-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.6rem;
    padding: 0.6rem;
}

.variation-text {
    font-size: 1.2rem;
    color: var(--color4);
    font-style: none;
}

.variation-subtext {
    font-size: 1.2rem;
    color: var(--color4-placeholder);
    font-style: italic;
}

.variation-user {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 10px;
}

.variation-user:hover {
    background: rgb(0, 0, 0, 0.1);
}

.variation-pfp {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5px;
    background: var(--color4);
}

.snippet-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 15px;
    overflow: hidden;
    position: relative;
    height: 60vh;
}

@media (max-width: 768px) {
    .snippet-container {
        flex-direction: column !important;
    }

    .output-container {
        width: 100% !important;
        height: 50% !important;
    }

    .code-container {
        width: 100% !important;
        height: 50% !important;
    }
}

.output-container {
    width: 50%;
    height: 100%;
    background-color: var(--color4);
    outline: 0;
    border: 0;
}

.code-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.code-buttons {
    background-color: var(--color2-brighter);
    height: 12%;
    padding-top: 0.6rem;
    display: flex;
    justify-content: center;
}

.lang-buttons-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.lang-buttons-container .lang-button {
    background-color: var(--color3-brighter);
    width: 100%;
    outline: 0;
    border: 0;
    color: var(--color4);
    font-size: 0.7rem;
    transition: .1s;
    cursor: pointer;
}

.lang-buttons-container .lang-button:hover {
    background-color: var(--color3-bright);
}

.lang-buttons-container .lang-button.active {
    background-color: var(--color3);
}

.code-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;
    position: relative;
}

.code-actions {
    position: absolute;
    right: 1.2rem;
    top: 0.9rem;
    background-color: var(--color3-bright);
    border-radius: 5px;
    padding: 0.2rem;
    gap: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 2rem;
    height: 2rem;
    transition: .5s;
    overflow: hidden;
}

.code-actions:hover {
    max-width: 100%;
}

.code-actions-svg {
    height: 1.2rem;
    width: 1.2rem;
    transition: .3s;
    flex-shrink: 0;
    margin-left: 0.2em;
}

.code-actions:hover .code-actions-svg {
    margin-left: 0;
}

.code-actions-svg path {
    stroke: var(--color4);
}


.code-actions:hover .code-actions-button {
    opacity: 1;
}

.code-actions-button {
    background-color: var(--color3-brighter);
    outline: 0;
    border: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--color4);
    height: 100%;
    font-size: 1rem;
    transition: all .3s, opacity .3s ease .1s;
    opacity: 0;
}

.code-actions-button:hover {
    background-color: var(--color3-brighterer);
}

.line-numbers {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background: var(--color3-darker);
    width: 5%;
    color: var(--color4-placeholder);
    text-align: right;
    user-select: none;
    padding-right: 0.6rem;
    overflow: hidden;
}

.line-numbers div {
    font-size: 0.9rem;
    line-height: 1rem;
}

.input-area {
    line-height: 1rem;
    padding-top: 1.2rem;
    padding-left: 0.6rem;
    padding-bottom: 0.6rem;
    /*1.2 - the height of the x scrollbar under it = 0.6 bitch*/
    background-color: var(--color3);
    border: 0;
    resize: none;
    width: 100%;
    font-family: monospace !important;
    font-size: 0.9rem;
    outline: none;
    overflow: scroll;
    color: var(--color4);
    white-space: pre;
}

.input-area::placeholder {
    color: var(--color4-placeholder);
}

.input-area::-webkit-scrollbar {
    background: var(--color1);
    width: 0.6rem;
    height: 0.6rem;
}

.input-area::-webkit-scrollbar-thumb {
    background: var(--color2-brighter);
    border-radius: 3.1rem;
}

.input-area::-webkit-scrollbar-thumb:hover {
    background: var(--color2-bright);
}

.input-area::-webkit-scrollbar-thumb:active {
    background: var(--color2-brighter);
}

.input-area::-webkit-scrollbar-corner {
    background: transparent;
}

.post-action-button {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-radius: 100px;
    flex: 1;
    font-size: 1.2rem;
    padding: 0.6rem;
    cursor: pointer;
}

.output-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.snippet-not-found {
    font-size: 3.1rem;
    color: var(--color1);
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 0.6rem;
}

.data-left,
.data-right {
    display: flex;
    flex-direction: row;
    gap: 1.9rem;
    align-items: center;
}

.data-left {
    gap: 0.6rem !important;
}

.data-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 10px;
}

.data-user:hover {
    background: rgb(0, 0, 0, 0.1);
}

.data-pfp {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 5px;
    background: var(--color4);
}

.data-text {
    font-size: 1.2rem;
    color: var(--color4);
}

.data-subtext {
    font-size: 1.2rem;
    font-style: italic;
    color: var(--color4-placeholder);
}

.data-views,
.data-likes,
.data-saved {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.data-like-save-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.data-like-save-container {
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 100ms;
}

.data-like-checkmark,
.data-save-checkmark,
.data-views-checkmark {
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    stroke: var(--color4);
    will-change: transform;
}

.data-like-save-container input:checked~.data-like-checkmark path {
    fill: var(--color5);
    stroke-width: 0;
}

.data-like-save-container input:checked~.data-save-checkmark path {
    fill: var(--color4);
    stroke-width: 0;
}

.data-like-save-container input:checked~.data-like-checkmark,
.data-like-save-container input:checked~.data-save-checkmark {
    animation: like_effect 400ms ease;
}

.data-like-save-container:hover {
    transform: scale(1.1);
}

@keyframes like_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.data-icon {
    width: 1.2rem;
    height: 1.2rem;
    filter: brightness(0) invert(1);
    transition: all 2s;
}

@media (max-width: 425px) {
    .actions-svg {
        display: none;
    }
}

.actions-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color2-brighter);
    border-radius: 0.6rem;
    padding: 0.6rem;
    gap: 1.2rem;
}

.left-actions-container,
.right-actions-container {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    min-width: 0;
}

.left-actions-container {
    justify-content: flex-start;
}

.right-actions-container {
    justify-content: flex-end;
}

.actions-button {
    outline: 0;
    border: 0;
    background: var(--color2);
    color: var(--color4);
    border-radius: 5px;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
    overflow: hidden;
}

.actions-button:hover {
    background: var(--color2-bright);
}

.actions-button:active {
    background: var(--color4-brighter);
}

@media (max-width: 320px) {
    .actions-button {
        padding: 0.6rem 0.1rem;
    }
}

#actions-important {
    color: var(--color5);
}

#actions-important path {
    stroke: var(--color5);
}

.actions-svg {
    top: 0;
    left: 0;
    height: 1.2rem;
    width: 1.2rem;
    transition: 100ms;
    animation: like_effect 400ms ease;
}

.actions-svg path {
    stroke: var(--color4);
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.description-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.2rem;
    border-radius: 0.6rem;
    gap: 0.6rem;
}

.description-title {
    color: var(--color4);
    font-size: 3.1rem;
    text-align: center;
}

.description-content {
    padding: 0.6rem;
    background-color: var(--color1);
    border-radius: 10px;
    width: 50%;
    min-height: 15vh;
    font-family: monospace !important;
    font-size: 0.9rem;
    overflow: auto;
    color: var(--color4);
}

.description-content::-webkit-scrollbar {
    width: 0.6rem;
    height: 0.6rem;
}

.description-content::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.description-content::-webkit-scrollbar-corner {
    background: transparent;
}

.tags-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.2rem;
    border-radius: 10px;
    gap: 0.6rem;
}

.tags-title {
    color: var(--color4);
    font-size: 3.1rem;
    text-align: center;
}

#tags-list {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    background: var(--color2);
    border-radius: 10px;
    max-width: 50%;
    padding: 0.6rem;
    flex-wrap: wrap;
    justify-content: center;
}

.tags-tag {
    background-color: var(--color4);
    color: var(--color2);
    padding: 0.1rem 0.7rem;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}

.tags-tag:hover {
    background-color: var(--color4-dark);
}

.tags-no-tags {
    color: var(--color4);
    font-size: 1rem;
    text-align: center;
}

.info-variations-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.2rem;
    border-radius: 10px;
    gap: 0.6rem;
}

.info-variations-title {
    color: var(--color4);
    font-size: 3.1rem;
    text-align: center;
}

.info-variations-output {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
}

.info-variations-search-results {
    color: var(--color4);
    font-size: 1.2rem;
}

.info-variations-search-output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
}

@media (max-width: 768px) {
    .info-variations-search-output {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 600px) {
    .info-variations-search-output {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 425px) {
    .info-variations-search-output {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 375px) {
    .info-variations-search-output {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}

.info-variations-search-output .info-variations-output-snip {
    height: 18rem;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: relative;
}

.info-variations-search-output .info-variations-output-preview {
    background: var(--color4);
    border-radius: 10px;
    width: 100%;
    height: 85%;
    border: 0;
}

.info-variations-search-output .info-variations-info {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
    font-size: 1.2rem;
    overflow: hidden;
}

.info-variations-info-views {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.info-variations-info-views-svg {
    top: 0;
    left: 0;
    height: 1.5rem;
    width: 1.5rem;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    stroke: var(--color4-placeholder);
    will-change: transform;
}

.info-variations-info-text {
    font-size: 1.2rem;
    color: var(--color4);
}

.info-variations-info-creator {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 5px;
}

.info-variations-info-creator:hover {
    background: rgb(0, 0, 0, 0.1);
}

.info-variations-info-pfp {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    background: var(--color4);
}

.info-variations-output-snip-opener {
    position: absolute;
    right: 0.9rem;
    bottom: 3.4rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--color2);
    padding: 0.3rem;
    border-radius: 5px;
}

.info-variations-output-snip-opener:hover {
    background: rgba(0, 0, 0, 0.1);
}

.info-variations-output-snip-opener:active {
    background: rgba(0, 0, 0, 0.2);
}

.center-div.report-center-div {
    width: 40%;
}

.report-page {
    backdrop-filter: blur(10px);
    box-shadow: #00000059 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .5);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    max-height: 80vh;
    overflow-y: scroll;
    animation: appear .5s ease;
}

.report-page::-webkit-scrollbar {
    width: 6px;
}

.report-page::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.report-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.report-title {
    color: var(--color4);
    font-size: 3.1rem;
    text-align: center;
}

.report-subtitle {
    color: var(--color4);
    font-size: 1.2rem;
    text-align: center;
}

.report-form {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.report-radio-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.report-label {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1.2rem;
    cursor: pointer;
}

.radio-title-container {
    display: flex;
    flex-direction: column;
}

.report-radio {
    display: none;
}

.report-radio-div {
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--color2);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.report-radio-span {
    transition: .2s;
    background: transparent;
    height: 0.4rem;
    width: 0.4rem;
    border-radius: 50%;
}

.report-radio:checked+.report-radio-div .report-radio-span {
    background: var(--color2);
}

.radio-title {
    font-size: 1.2rem;
    color: var(--color4);
}

.radio-subtitle {
    font-size: 1rem;
    color: var(--color4-placeholder);
}

.report-textarea-container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.report-textarea-title {
    font-size: 1.1rem;
    color: var(--color4);
}

.report-textarea {
    width: 100%;
    background-color: var(--color1);
    border-radius: 10px;
    outline: 0;
    border: 2px dashed var(--color4);
    color: var(--color4);
    padding: 0.3rem 0.6rem;
    height: 6rem;
    overflow-y: auto;
    resize: none;
    font-size: 1rem;
    font-family: monospace !important;
}

.report-textarea::placeholder {
    color: var(--color4-placeholder);
}

.report-submit {
    align-self: center;
    outline: 0;
    border: 0;
    background: var(--color4);
    border-radius: 100px;
    width: 50%;
    font-size: 1.2rem;
    color: var(--color1);
    padding: 0.6rem;
    cursor: pointer;
}

.center-div.confirm-delete-center-div {
    width: 40%;
}

.confirm-delete-page {
    backdrop-filter: blur(10px);
    box-shadow: #00000059 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .5);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    max-height: 80vh;
    overflow-y: scroll;
    animation: appear .5s ease;
}

.confirm-delete-page::-webkit-scrollbar {
    width: 6px;
}

.confirm-delete-page::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.confirm-delete-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-delete-title {
    color: var(--color4);
    font-size: 3.1rem;
    text-align: center;
}

.confirm-delete-subtitle {
    color: var(--color4);
    font-size: 1.2rem;
    text-align: center;
}

.confirm-delete-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
}

.confirm-delete-action-button {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-radius: 100px;
    flex: 1;
    font-size: 1.2rem;
    padding: 0.6rem;
    width: 80%;
    cursor: pointer;
}

.confirm-delete {
    background: var(--color5) !important;
}

.center-div.info-center-div {
    width: 40%;
}

.info-page {
    backdrop-filter: blur(10px);
    box-shadow: #00000059 15px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    background: rgba(0, 0, 0, .5);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    max-height: 80vh;
    overflow-y: scroll;
    animation: appear .5s ease;
}

.info-page::-webkit-scrollbar {
    width: 6px;
}

.info-page::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.info-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
}

.info-title {
    color: var(--color4-placeholder);
    font-size: 1.2rem;
    text-align: center;
}

.info-text {
    color: var(--color4);
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
    word-break: break-word;
}


.info-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 2.5rem;
}

.info-action-button {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-radius: 100px;
    flex: 1;
    font-size: 1.2rem;
    padding: 0.6rem;
    width: 80%;
    cursor: pointer;
}




.comments-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1.2rem;
    border-radius: 10px;
    gap: 0.6rem;
}

.comments-title {
    color: var(--color4);
    font-size: 3.1rem;
    text-align: center;
}

.comments-form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 80%;
    padding: 0.3rem;
    border-radius: 10px;
    background: var(--color2);
    height: fit-content;
}

.comment-form-div {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.comment-form-reply {
    flex-direction: row;
    align-items: center;
    display: none;
    gap: 0.3rem;
}

.comment-form-reply-text {
    font-size: 0.9rem;
    color: var(--color4-placeholder);
}

.comment-form-reply-user {
    font-size: 0.9rem;
    color: var(--color4);
}

.comment-form-reply-remove {
    outline: 0;
    border: 2px solid var(--color4-placeholder);
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    color: var(--color4);
}

.comment-form-reply-remove:hover {
    background: rgba(255, 255, 255, 0.1);
}

.comment-form-reply-remove:active {
    background: rgba(255, 255, 255, 0.2);
}

.comments-form-input {
    border-radius: 10px;
    border: 2px solid var(--color4-placeholder);
    background: transparent;
    width: 100%;
    color: var(--color4);
    padding: 0.4rem 0.6rem;
    outline: 0;
    resize: none;
    min-height: 4rem;
    max-height: 12rem;
    overflow-y: auto;
    font-size: 0.9rem;
}

.comments-form-button {
    outline: 0;
    border: 2px solid var(--color4-placeholder);
    border-radius: 10px;
    color: var(--color4);
    padding: 0.4rem 1.2rem;
    background: transparent;
    cursor: pointer;
    font-size: 1em;
}

.comments-form-button:hover {
    background: rgba(255, 255, 255, 0.1);
}

.comments-form-button:active {
    background: rgba(255, 255, 255, 0.2);
}

.comments-form-input::placeholder {
    color: var(--color4-placeholder);
}

.comments-output {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
}

.comments-search-results {
    color: var(--color4);
    font-size: 1.2rem;
}

.comments-search-output {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    background: var(--color2);
    border-radius: 10px;
    padding: 0.6rem;
}

@media (max-width: 768px) {
    .comment {
        width: 100%;
    }

    .comments-form {
        width: 100%;
    }
}

.reply {
    padding-left: 5rem;
    position: relative;
    overflow: hidden;
}

.comment.reply-to-parent::after {
    content: "";
    position: absolute;
    left: 1.5rem;
    top: -0.5rem;
    width: 4rem;
    height: 2rem;
    border-left: 1px solid var(--color4-placeholder);
    border-bottom: 1px solid var(--color4-placeholder);
    border-radius: 5px;
}

.comment.reply-to-reply::after {
    content: "";
    position: absolute;
    left: 6rem;
    top: -0.5rem;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid var(--color4-placeholder);
    border-radius: 5px;
}

@keyframes highlight {
    0% {
        background: var(--color2-bright);
    }

    100% {
        background: var(--color2);
    }
}

.comment-top-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.comment-top-left {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

@media (max-width: 425px) {
    .comment-top-left {
        gap: 0.3rem;
    }

    #comment-date-top {
        display: none;
    }

    #comment-date-bottom {
        display: block !important;
    }
}

#comment-date-bottom {
    display: none;
}

.comment-username-container {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    align-items: center;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 5px;
    z-index: 1;
}

.comment-username-container:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.comment-username-container:active {
    background-color: rgba(0, 0, 0, 0.2);
}

.comment-pfp {
    width: 1.5em;
    height: 1.5em;
    border-radius: 5px;
    background: var(--color4);
}

.comment-username {
    font-size: 1.2rem;
    color: var(--color4);
}

.comment-reply-container {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items: center;
    margin-top: 0.2rem;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 5px;
}

.comment-reply-container:hover {
    background: rgba(0, 0, 0, 0.1);
}

.comment-reply-container:active {
    background: rgba(0, 0, 0, 0.2);
}

.comment-info-text {
    font-size: 0.8rem;
    color: var(--color4-placeholder);
}

.comment-text {
    font-size: 0.8rem;
    color: var(--color4);
}

.comment-rest-div {
    margin-left: 2.3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-content-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.comment-content {
    font-size: 0.9rem;
    color: var(--color4);
    width: 90%;
    white-space: normal;
    word-wrap: break-word;
}

.comment-actions-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
    width: 100%;
}

.comment-actions-left,
.comment-actions-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.6rem;
}

.comment-action-button {
    outline: 0;
    border: 0;
    padding: 0.1rem 0.3rem;
    color: var(--color4-placeholder);
    font-size: 0.9rem;
    background: transparent;
    border-radius: 5px;
}

.comment-action-button:hover {
    background: var(--color2-bright);
}

.comment-action-button:active {
    background: var(--color2-brighter);
}

/*--------------------COMMENT LIKES--------------------*/
.comment-likes {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

.comment-likes-checkmark {
    margin-bottom: 0.2rem;
    height: 0.8rem;
    width: 0.8rem;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    stroke: var(--color4-placeholder);
    will-change: transform;
    align-items: center;
}

.comment-likes-div input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.comment-likes-div {
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 100ms;
}

.comment-likes-div input:checked~.comment-likes-checkmark path {
    fill: var(--color5);
    stroke-width: 0;
}

.comment-likes-div input:checked~.comment-likes-checkmark {
    animation: like_effect 400ms ease;
}

@keyframes like_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.comment-likes-text {
    font-size: 0.8rem;
    color: var(--color4);
}

/*---------------------------------------------------*/

.creator-avatar-img {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 5px;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

.variation-avatar-img {
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 5px;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

.info-variations-avatar-img {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}

.comment-avatar-img {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 5px;
    object-fit: cover;
    flex-shrink: 0;
    display: block;
}