@import './data.css';

#rest {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color1);
    justify-content: center;
}

.snippet-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    overflow: hidden;
    flex-direction: column;
    gap: 20px;
    background: var(--color2);
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
}

.variation-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.variation-text {
    font-size: 20px;
    color: var(--color4);
    font-style: none;
}

.variation-subtext {
    font-size: 20px;
    color: var(--color4-placeholder);
    font-style: italic;
}

.variation-user {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.variation-pfp {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--color4);
}

.snippet-container {
    display: flex;
    width: 100%;
    height: 70%;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 15px;
    overflow: hidden;
    position: relative;
    height: 60vh;
}

.output-container {
    width: 50%;
    height: 100%;
    background-color: var(--color4);
    outline: 0;
    border: 0;
}

.code-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.code-buttons {
    background-color: var(--color2-brighter);
    height: 10%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.lang-buttons-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.lang-buttons-container .lang-button {
    background-color: var(--color3-brighter);
    width: 100%;
    outline: 0;
    border: 0;
    color: var(--color4);
    font-size: 12px;
    transition: .1s;
}

.lang-buttons-container .lang-button:hover {
    background-color: var(--color3-bright);
}

.lang-buttons-container .lang-button.active {
    background-color: var(--color3);
}

.code-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;
    position: relative;
}

.code-div .copy-button {
    position: absolute;
    right: 20px;
    top: 14px;
    background-color: var(--color3-brighter);
    outline: 0;
    border: 2px var(--color3-brighter);
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: var(--color4);
    padding: 1%;
}

.code-div .copy-button:hover {
    background-color: var(--color3-bright);
}

.code-div .copy-button:active {
    background-color: var(--color3-darker);
}

.code-div .copy-icon {
    align-self: center;
    width: 16px;
    height: 16px;
    pointer-events: none;
    filter: brightness(0) invert(1);
    opacity: 0.6;
    user-select: none;
}

.code-div .copy-button span {
    padding-left: 10px;
}

.line-numbers {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color3-darker);
    width: 5%;
    color: var(--color4);
    text-align: right;
    user-select: none;
    padding-right: 10px;
    overflow: hidden;
}

.line-numbers div {
    font-size: 14px;
}

.input-area {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: var(--color3);
    border: 0;
    resize: none;
    width: 100%;
    font-family: monospace !important;
    font-size: 14px;
    outline: none;
    overflow: scroll;
    color: var(--color4);
}

.input-area::placeholder {
    color: var(--color4-placeholder);
}

.input-area::-webkit-scrollbar {
    background: var(--color1);
    width: 10px;
    height: 10px;
}

.input-area::-webkit-scrollbar-thumb {
    background: var(--color2-brighter);
    border-radius: 50px;
}

.input-area::-webkit-scrollbar-thumb:hover {
    background: var(--color2-bright);
}

.input-area::-webkit-scrollbar-thumb:active {
    background: var(--color2-brighter);
}

.input-area::-webkit-scrollbar-corner {
    background: transparent;
}

.post-action-button {
    outline: 0;
    border: 0;
    background: var(--color4);
    color: var(--color1);
    border-radius: 100px;
    flex: 1;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.output-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.snippet-not-found {
    font-size: 50px;
    color: var(--color1);
}

.data-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}

.data-left,
.data-right {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.data-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.data-pfp {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: var(--color4);
}

.data-text {
    font-size: 20px;
    color: var(--color4);
}

.data-subtext {
    font-size: 20px;
    font-style: italic;
    color: var(--color4-placeholder);
}

.data-views,
.data-likes,
.data-saved {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.data-like-save-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.data-like-save-container {
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 100ms;
}

.data-like-checkmark, .data-save-checkmark, .data-views-checkmark {
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    transition: 100ms;
    animation: dislike_effect 400ms ease;
    stroke: var(--color4);
    will-change: transform;
}

.data-like-save-container input:checked~.data-like-checkmark path {
    fill: var(--color5);
    stroke-width: 0;
}
.data-like-save-container input:checked~.data-save-checkmark path {
    fill: var(--color4);
    stroke-width: 0;
}

.data-like-save-container input:checked~.data-like-checkmark, .data-like-save-container input:checked~.data-save-checkmark {
    animation: like_effect 400ms ease;
}

.data-like-save-container:hover {
    transform: scale(1.1);
}

@keyframes like_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dislike_effect {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.data-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    transition: all 2s;
}

.actions-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--color2-brighter);
    border-radius: 10px;
    padding: 10px;
}

.left-actions-container, .right-actions-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.left-actions-container {
    justify-content: flex-start;
}
.right-actions-container {
    justify-content: flex-end;
}

.actions-button {
    outline: 0;
    border: 0;
    background: var(--color2);
    color: var(--color4);
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.actions-button:hover {
    background: var(--color2-bright);
}
.actions-button:active {
    background: var(--color4-brighter);
}

#actions-important {
    color: var(--color5);
}
#actions-important path {
    stroke: var(--color5);
}

.actions-svg {
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: 100ms;
    animation: like_effect 400ms ease;
}
.actions-svg path {
    stroke: var(--color4);
}

.info-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.description-title {
    color: var(--color4);
    font-size: 50px;
    text-align: center;
}

.description-content {
    padding: 10px;
    background-color: var(--color1);
    border-radius: 10px;
    width: 50%;
    min-height: 15vh;
    font-family: monospace !important;
    font-size: 14px;
    overflow: auto;
    color: var(--color4);
}

.description-content::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.description-content::-webkit-scrollbar-thumb {
    background: var(--color4);
    border-radius: 10px;
}

.description-content::-webkit-scrollbar-corner {
    background: transparent;
}

.tags-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.tags-title {
    color: var(--color4);
    font-size: 50px;
    text-align: center;
}

#tags-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: var(--color2);
    border-radius: 10px;
    max-width: 50%;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.tags-tag {
    background-color: var(--color4);
    color: var(--color2);
    padding: 2px 12px;
    border-radius: 20px;
    font-size: 16px;
}

.tags-no-tags {
    color: var(--color4);
    font-size: 16px;
    text-align: center;
}

.info-variations-container {
    background: var(--color2-brighter);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
}

.info-variations-title {
    color: var(--color4);
    font-size: 50px;
    text-align: center;
}

.info-variations-output {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

.info-variations-search-results {
    color: var(--color4);
    font-size: 20px;
}

.info-variations-search-output {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.info-variations-search-output .info-variations-output-snip {
    height: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.info-variations-search-output .info-variations-output-preview {
    background: var(--color4);
    border-radius: 10px;
    width: 100%;
    height: 90%;
    border: 0;
}

.info-variations-search-output .info-variations-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color4);
    font-size: 16px;
    overflow: hidden;
}

.info-variations-info-views {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.info-variations-info-subtext {
    font-size: 16px;
    font-style: italic;
    color: var(--color4-placeholder);
}

.info-variations-info-creator {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.info-variations-info-pfp {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background: var(--color4);
}

.info-variations-output-snip-opener {
    position: absolute;
    right: 16px;
    bottom: 46px;
    cursor: pointer;
    font-size: 16px;
    color: var(--color2);
    padding: 5px;
    border-radius: 5px;
}

.info-variations-output-snip-opener:hover {
    background: rgba(0, 0, 0, 0.1);
}

.info-variations-output-snip-opener:active {
    background: rgba(0, 0, 0, 0.2);
}