@import "./data.css";

* {
    --color-1: rgba(225, 20, 98, 0.5);
    --color-2: rgba(111, 202, 220, 0.5);
    --color-3: rgba(61, 184, 143, 0.5);
    --color-4: rgba(233, 169, 32, 0.5);
}

.output-loader {
    position: relative;
    width: 2.5em;
    height: 2.5em;
    transform: rotate(165deg);
    z-index: 1;
}

.output-loader:before,
.output-loader:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.25em;
    transform: translate(-50%, -50%);
}

.output-loader:before {
    animation: before8 2s infinite;
}

.output-loader:after {
    animation: after6 2s infinite;
}

@keyframes before8 {
    0% {
        width: 0.5em;
        box-shadow: 1em -0.5em var(--color-1), -1em 0.5em var(--color-2);
    }

    35% {
        width: 2.5em;
        box-shadow: 0 -0.5em var(--color-1), 0 0.5em var(--color-2);
    }

    70% {
        width: 0.5em;
        box-shadow: -1em -0.5em var(--color-1), 1em 0.5em var(--color-2);
    }

    100% {
        box-shadow: 1em -0.5em var(--color-1), -1em 0.5em var(--color-2);
    }
}

@keyframes after6 {
    0% {
        height: 0.5em;
        box-shadow: 0.5em 1em var(--color-3), -0.5em -1em var(--color-4);
    }

    35% {
        height: 2.5em;
        box-shadow: 0.5em 0 var(--color-3), -0.5em 0 var(--color-4);
    }

    70% {
        height: 0.5em;
        box-shadow: 0.5em -1em var(--color-3), -0.5em 1em var(--color-4);
    }

    100% {
        box-shadow: 0.5em 1em var(--color-3), -0.5em -1em var(--color-4);
    }
}

.output-loader {
    position: absolute;
    top: calc(50% - 1.25em);
    left: calc(50% - 1.25em);
    transform: translateY(-50%);
}