@import './sidebar.css';

* {
    font-family: "Noveo Sans";
    --color1: #071E22;
    --color1-bright: color-mix(in srgb, var(--color1) 95%, white);
    --color1-dark: color-mix(in srgb, var(--color1) 80%, black);

    --color2: #1D7874;
    --color2-bright: color-mix(in srgb, var(--color2) 95%, white);
    --color2-brighter: color-mix(in srgb, var(--color2) 90%, white);

    /*inutile pe adesso - se se trova uno bello usa il 3 come colori del blocco codice e cazzi*/
    --color3: #3d3d3d; /*5C0029*/
    --color3-bright: color-mix(in srgb, var(--color3) 90%, white);
    --color3-brighter: color-mix(in srgb, var(--color3) 80%, white);
    --color3-darker: color-mix(in srgb, var(--color3) 90%, black);

    --color4: #efffe1;
    --color4-placeholder: color-mix(in srgb, var(--color4) 50%, transparent);

    --color5: #F07167; /*#F07167*/
    --color5-bright: color-mix(in srgb, var(--color5) 90%, white);
    --color5-brighter: color-mix(in srgb, var(--color5) 80%, white);
    --color5-placeholder: color-mix(in srgb, var(--color5) 75%, transparent);

    --color6: #68ee89;
    --color6-placeholder: color-mix(in srgb, var(--color6) 75%, transparent);

    box-sizing: border-box;
}

body {
    margin: 0;
}

#content {
    position: relative;
    transition: .3s;
    display: flex;
    align-items: center;
    background-color: var(--color1);
    padding-left: var(--sidebar-closed-width);
    height: calc(100vh - 90px);
}
.darkened {
    filter: brightness(0.2);
}

.snippet-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    gap: 2%;
}

.snippet-container {
    display: flex;
    width: 90%;
    height: 70%;
    border-radius: 10px;
    flex-direction: row;
    box-shadow: rgb(0, 0, 0, 0.1) 0px 5px 15px;
    overflow: hidden;
    position: relative;
}

.output-container {
    width: 50%;
    height: 100%;
    background-color: var(--color4);
    outline: 0;
    border: 0;
}

.code-container {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.code-buttons {
    background-color: var(--color2);
    height: 10%;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.lang-buttons-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
}

.lang-buttons-container .lang-button {
    background-color: var(--color3-brighter);
    width: 100%;
    outline: 0;
    border: 0;
    color: var(--color4);
    font-size: 12px;
    transition: .1s;
}

.lang-buttons-container .lang-button:hover {
    background-color: var(--color3-bright);
}

.lang-buttons-container .lang-button.active {
    background-color: var(--color3);
}

.code-div {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;
    position: relative;
}

.code-div .copy-button {
    position: absolute;
    right: 20px;
    top:14px;
    background-color: var(--color3-brighter);
    outline: 0;
    border: 2px var(--color3-brighter);
    border-radius: 4px;
    display: flex;
    align-items: center;
    color: var(--color4);
    padding: 1%;
}

.code-div .copy-button:hover {
    background-color: var(--color3-bright);
}

.code-div .copy-button:active {
    background-color: var(--color3-darker);
}

.code-div .copy-icon {
    align-self: center;
    width: 16px;
    height: 16px;
    pointer-events: none;
    filter: brightness(0) invert(1);
    opacity: 0.6;
    user-select: none;
}

.code-div .copy-button span {
    padding-left: 10px;
}

.line-numbers {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--color3-darker);
    width: 5%;
    color: var(--color4);
    text-align: right;
    user-select: none;
    padding-right: 10px;
    overflow: hidden;
}

.line-numbers div {
    font-size: 14px;
}

.input-area {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: var(--color3);
    border: 0;
    resize: none;
    width: 100%;
    font-family: monospace !important;
    font-size: 14px;
    outline: none;
    overflow-y: scroll;
    color: var(--color4);
}

.input-area::placeholder {
    color: var(--color4-placeholder);
}

.input-area::-webkit-scrollbar {
    background: var(--color3-bright);
    width: 10px;
}

.input-area::-webkit-scrollbar-thumb {
    background: var(--color2);
    /*border-radius: 50px;*/
}

.input-area::-webkit-scrollbar-thumb:hover {
    background: var(--color2-bright);
}

.input-area::-webkit-scrollbar-thumb:active {
    background: var(--color2-brighter);
}

.snippet-action-bar {
    width: 90%;
    height: 8%;
    box-sizing: border-box;
    background-color: var(--color2);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* DARK MODE */ 
.toggle-switch {
    position: relative;
    width: 50px; /* 100px * 0.5 */
    height: 25px; /* 50px * 0.5 */
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: var(--dark);
    border-radius: 12.5px; /* 25px * 0.5 */
    cursor: pointer;
    border: 1.5px solid var(--dark); /* 3px * 0.5 */
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 12.5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 5px; /* 10px * 0.5 */
    left: 5px; /* 10px * 0.5 */
    width: 12.5px; /* 25px * 0.5 */
    height: 12.5px;
    border-radius: 50%;
    -webkit-box-shadow: inset 6px -2px 0px 0px var(--light); /* scaled */
    box-shadow: inset 6px -2px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(25px); /* 50px * 0.5 */
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  

/* /DARK MODE */ 

.snippet-action-bar .action-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 10px;
    justify-content: flex-end;
    width: 100%;
}

.snippet-action-bar .action-button {
    outline: 0;
    border: 0;
    border-radius: 5px;
    background: transparent;
    color: var(--color4);
    font-size: 16px;
    width: 10%;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
}

.snippet-action-bar .action-button:hover {
    background: var(--color2-bright);
}

.snippet-action-bar .action-button:active {
    background: var(--color2-brighter);
}

.snippet-action-bar #action-reset {
    background: var(--color5);
    color: var(--color1);
    border: 3px solid var(--color5);
    box-shadow: 0 0 0 var(--color5);
    transition: all 0.3s ease-in-out;
}
.snippet-action-bar #action-reset:hover {
    background: var(--color1);
    color: var(--color5);
    box-shadow: 0 0 20px var(--color5);
}
.snippet-action-bar #action-reset:active {
    background: var(--color1-bright);
}

.snippet-action-bar #action-post {
    background: var(--color6);
    color: var(--color1);
    border: 3px solid var(--color6);
    box-shadow: 0 0 0 var(--color6);
    transition: all 0.3s ease-in-out;
}
.snippet-action-bar #action-post:hover {
    background: var(--color1);
    color: var(--color6);
    box-shadow: 0 0 20px var(--color6);
}
.snippet-action-bar #action-post:active {
    background: var(--color1-bright);
}